<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga & Anime Finder</title>
    <link rel="stylesheet" href="/styles/main.css">
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- FONT -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- BOOTSTRAP  -->
     
</head>
<body>
<!-- HEADER -->
 <header>
<div class="header">
    <h1>
    <nav>    
        <a href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/random">Random</a>
    </nav>
    </h1>
</div>
</header>

