<%- include("partials/header.ejs") %>



<!-- BODY CONTAINER -->
<div class="home">
    <h1>Welcome!</h1>
    <p>
        Click the Links on the bar above to start searching
        <br>
        <br>
        To be Added:
    </p>
    <ul>
        <li> Featured Landing Page</li>
        <li> Page button configuration</li>
        <li> Better Typography</li>
    </ul>
</div>




<!-- FOOTER -->
<%- include("partials/footer.ejs") %>