<%- include("partials/header.ejs") %>



<!-- BODY CONTAINER -->
<div class="home">
    <h1>Welcome!</h1>
    <p>Click the Links on the bar above to start searching</p>
</div>




<!-- FOOTER -->
<%- include("partials/footer.ejs") %>