<%- include("partials/header.ejs") %>



<!-- BODY CONTAINER -->
<div class="body_container">
    <h1>Hello!</h1>
    <p style="color: white;">Place holder but Im planning on placing a carousell version for recommended anime</p>
</div>



<!-- FOOTER -->
<%- include("partials/footer.ejs") %>