<% include("partials/header.ejs") %>

<body>
    

<h1><%= content %></h1>
<h2><%= content2 %></h2>
<h2>Cover ID: <%= content3 %></h2>

<!-- <img src="content3%>" alt="testing"> -->

</body>
</html>














<% include("partials/footer.ejs") %>