<%- include("partials/header.ejs") %>

<!-- BODY CONTAINER -->

<!-- RANDOM BUTTON -->
<h1 class="test" id="test">test</h1>
<form action="/random" method="get">
    <button type="submit">Random</button>
</form>

</div>



<!-- FOOTER -->
<%- include("partials/footer.ejs") %>