 /* 
 =================
 >>>>>HEADER<<<<<
 =================
  */
 html{
    background-color: #7C444F;
 }
 
 header{
   position: sticky;
   width: 98.5vw;
 }

 .header{
    background-color: #9F5255;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 5px;
    
    border-radius: 25px;

 }

 /* links */
 nav > a{
    padding-left: 20px;

    color:  #FF7F67;
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
    display: inline-block;
 }

 a:hover{
  transform: translate(-5px,-10px);
  color:  #F39E60;
  transition: transform 0.3s ease;
 }

.header > h1, p{
  padding: 0;
  font-family: "Lilita One", sans-serif;
  text-decoration: #FF7F67;
 }
 

/* 
=================
>>>>>FOOTER<<<<<
=================
*/

  .footer{
    background-color: #9F5255;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    border-radius: 25px;

    /*Text*/
    font-size: 20px;
    color: white;
    text-shadow: 5px 4px 3px black;
  }

  .footer > p{
   padding: 5px;
   margin: 2px;
  }

/*    
==============
>>>>>BODY<<<<<
===============
*/

.body_container{
    display: inline-block;

    height: 100vh;
  width: 98.5vw;
    
  background-color: #E16A54;
  border-radius: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
    
    
} 

.body_container_search{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;

   /* height: 100vh;  */
 }

.body_container > h2 , .body_container >p{
  text-shadow: 2px 2px 2px white;
}

.home{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;

  height: 100vh;
  width: 98.5vw;
    
  background-color: #E16A54;
  border-radius: 25px;
  margin-top: 25px;
  margin-bottom: 25px;

}

/* 
===============
VIEWING RESULT
===============
 */

 /* Title */
.title_container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;

  background-color: #F39E60;
  border-radius: 25px;
  margin: 10px;
}

.title_container > h1 , p{
  padding-left: 10px;
}

/* Content */
.content_container{
  display: flex;
  flex-wrap: wrap;
}

.content_container > div{
  background-color: #F39E60;

  margin: 20px;
  border-radius: 25px;
}

/* Cover and Details */
.cover_container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex: 1;

  height: 300px;
  width: 200px;
  padding: 20px;
}

.cover_container > img {
  
  height: 100%;
  width: 200px;
  border-radius: 10px;
}

.content_container > .details{
  flex: 5;
}

/* 
=======================
SEARCH RESULTS
=======================
*/
 .searchResult_container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
 }

 .anime_manga_box{
  margin: 30px;
  /* padding: 10px; */
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  

  height: 350px;
  width: 200px;
  border-radius: 10px;

  border:none;
  background-color: #D9D9D9;
  cursor: pointer;
 }

.anime_manga_box:hover{
  transform: scale(1.5);
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 10px #ff2802;
}

.anime_manga_image{
  height: 300px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
 }

 .anime_manga_box > p{
  color: #000000;
  margin: 0;
  padding: 10px;
  text-align:center;
  box-sizing: border-box;
  /* text-shadow: 2px 2px 2px #ff2802; */
 }
 
 .pageNumbers{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 }

 .pageNumberStyle{
  border-radius: 5px;
  border:none;
  cursor: pointer;

  margin-left: 5px;
  margin-bottom: 10px;
  padding: 5px;
 }

 .pageNumberStyle:hover{
  background-color: #ff0638;
 }
 
/* 
~~~~~~~~~~~~~~~~
Design for the Search Bar
~~~~~~~~~~~~~~~~
*/

 .searchDesign{
  font-family: "Lilita One", sans-serif;;
  font-size: 50px;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  margin: 40vh;
 }


